/* modifed and copied from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */

:root {
  --switch-width: 2.188rem; /* 35px */
  --switch-height: 1.063rem; /* 17px */
  --transform-x: 1.063rem;
  --slider-radius: 0.813rem; /* 13px */
  --slider-pos: 0.125rem; /* 2px */
}

.hide-heatmap-ctn {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.55rem;

  /* margin-top: 1rem; */

  /* margin-bottom: 0.5rem; */

  /* margin-right: 3rem; */
  padding-top: 0;
  padding-bottom: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #767676;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: var(--slider-radius);
  width: var(--slider-radius);
  left: var(--slider-pos);
  bottom: var(--slider-pos);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0d6efd;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0d6efd;
}

input:checked + .slider::before {
  -webkit-transform: translateX(var(--transform-x));
  -ms-transform: translateX(var(--transform-x));
  transform: translateX(var(--transform-x));
}

/* Rounded sliders */
.slider.round {
  border-radius: 2.125rem; /* 34px */
}

.slider.round::before {
  border-radius: 50%;
}
