:root {
  --result-width: 18rem;
  --result-height: 32rem;
  --result-margin: 1rem;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  margin: var(--result-margin);

  /* 16:9 ratio */
  height: var(--result-height);
  width: var(--result-width);
}

.original-image {
  /* 16:9 ratio */
  height: var(--result-height);
  width: var(--result-width);
}

.image-heatmap {
  position: relative;

  /* 16:9 ratio */
  height: var(--result-height);
  width: var(--result-width);

  /* No idea why this extra .35rem is necessary */
  bottom: calc(var(--result-height) + 0.35rem);
}

.image-heatmap:hover {
  opacity: 0;
}

.result-explanation {
  text-align: center;
  margin-left: var(--result-margin);

  /* Makes long explanations wrap */
  width: var(--result-width);
}

.progress-indicator-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.progress {
  width: 100%;
}

.image-result-container {
  margin: 1rem;
  width: var(--result-width);
}

@media only screen and (min-width: 1024px) {
  .results-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
