:root {
  --result-width: 18rem;
  --result-height: 32rem;
  --result-margin: 1rem;
}

.results-title {
  font-family: "Signika", sans-serif;
  font-size: xx-large;
  text-align: center;
}

.results-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.result {
  margin: var(--result-margin);

  /* 16:9 ratio */
  height: var(--result-height);
  width: var(--result-width);
}

.original-image {
  /* 16:9 ratio */
  height: var(--result-height);
  width: var(--result-width);
}

.image-heatmap {
  position: relative;

  /* 16:9 ratio */
  height: var(--result-height);
  width: var(--result-width);

  /* No idea why this extra .35rem is necessary */
  bottom: calc(var(--result-height) + 0.35rem);
}

.image-heatmap:hover {
  opacity: 0;
}

.result-explanation {
  text-align: center;
  margin-left: var(--result-margin);

  /* Makes long explanations wrap */
  width: var(--result-width);
}

.progress-indicator-container {
  padding: 2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.progress {
  width: 100%;
}

.image-result-container {
  margin: 1rem;
  width: var(--result-width);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.video-result-explanation {
  margin: 0 3rem;
  max-width: 40rem;
}

.video-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.back-btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin: auto;
  width: 8rem;
  font-size: 1rem;
  border-radius: 2rem;
  border: 0.2rem solid;
  background-color: black;
  color: white;
}

@media only screen and (min-width: 900px) {
  .results-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .video-result-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .video-result-explanation {
    margin: 0 4rem;
    border: 0.06rem solid grey;
    padding: 3rem;
    width: 30rem;
  }
}
