@font-face {
  font-family: "Inter";
  src: local("Inter"), url(../../fonts/Inter/Inter-VariableFont_slnt_wght.ttf) format("truetype");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

.section__container h1 {
  margin-top: 2.8rem;
  padding-inline: 0.5rem;
}

.upload-btn {
  margin: auto;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  width: 10rem;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 2rem;
  border: 0.2rem solid;
  background-color: green;
  color: white;
  text-align: center;
}

.remove-btn {
  position: relative;
  flex-direction: row;
  background-color: rgb(194, 10, 47);
  border-color: rgb(194, 10, 47);
  color: white;
  cursor: pointer;
  width: 30%;
}

.search-remove {
  display: flex;
  flex-direction: row;
  width: clamp(10rem, 30rem, 50rem);
  justify-content: center;
  margin: 1rem 1rem;
}

.box {
  position: relative;
  border: 0.2rem dashed #045198;
  border-radius: 1rem;
  text-align: center;
  background-color: #efefef;
  margin-top: 1rem;
  padding: 3rem;
  z-index: 0;
}

.box:hover {
  border: 0.2rem solid #045198;
  cursor: pointer;
}

.upload-alert {
  text-align: center;
}

.file-container {
  position: relative;
  margin-top: 1rem;
  background-color: #efefef;
  border: 0.1rem solid black;
  border-radius: 0.1rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: 550;
  max-width: 40rem;
}

.file-container:hover {
  background-color: rgb(204, 233, 247);
}

.file-column {
  position: relative;
  transform: translateY(-13%);
  max-width: 25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.margin-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #efefef;
  margin-bottom: 5rem;
}

.button-column {
  max-width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accepted-file-formats-text {
  position: absolute;
  user-select: none;
  right: 0.5rem;
  bottom: 0.8rem;
  color: grey;
}

.image-preview {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 9.375rem;
  width: 9.375rem;
  object-fit: cover;
}

.image-preview video {
  height: 9.375rem;
  width: 9.375rem;
  object-fit: cover;
}

.image-holder :hover {
  filter: opacity(0.4);
  transition: all 250ms ease;
  cursor: pointer;
}

.preview-column {
  margin: 1rem;
  width: 9.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.cross-button {
  position: absolute;
  left: 8.5rem;
  bottom: 10.625rem;
  color: white;
  background: red;
  border-radius: 0.3rem;
}

.cross-button:hover {
  transition: all 250ms ease;
  background-color: black;
}

.file-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**************************  PAGINATION  *****************************/
.pagination-section {
  padding: 1rem 10rem 1rem 10rem;
}

.pagination-margin {
  margin-top: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding-right: 1rem;
  box-shadow: black;
}

.pagination-bttns {
  height: 2.5rem;
  list-style: none;
  display: flex;
  justify-content: center;
}

.pagination-bttns a {
  padding: 0.625rem;
  margin: 0.5rem;
  border: 0.063rem solid #c9c9c9;
  background-color: #c9c9c9;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.pagination-active a {
  color: white;
  border: 0.063rem solid #03a64a;
  background-color: #03a64a;
}

a:active {
  color: white;
  border: 0.063rem solid #03a64a;
  background-color: #03a64a;
}

.pagination-bttns a:hover {
  color: black;
  border: 0.063rem solid #ebebeb;
  background-color: #f4f4f4;
}

/**************************  MODAL  *****************************/
.modal-background {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.8);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 0.875rem 1.75rem;
  border-radius: 0.188rem;
  max-width: 37.5rem;
  min-width: 18.75rem;
  align-items: center;
  justify-content: center;
  padding-right: 8rem;
  padding-left: 8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 100;
}

.modal-preview {
  width: 12.5rem;
  height: 25rem;
  align-items: center;
  justify-content: center;
}

.close-modal {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
}

@media only screen and (max-width: 668px) {
  .file-container {
    text-indent: 0;
  }

  .file-column {
    position: relative;
    transform: translateY(-13%);
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .button-column {
    max-width: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 6rem;
    width: 6rem;
  }

  .pagination-section {
    padding: 0%;
  }

  .file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.875rem;
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 0.875rem 1.75rem;
    border-radius: 0.188rem;
    align-items: center;
    justify-content: center;
  }

  .cross-button {
    position: absolute;
    left: 4.563rem;
    bottom: 7.188rem;
    color: white;
    background: red;
    border-radius: 0.3rem;
  }

  .preview-column {
    margin: 1rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }
}
