.mainSection {
  background-color: #0476d9;
  width: auto;
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.selection-heading {
  /* border: solid #5b6dcd 10px; */
  margin-bottom: 3rem;
}

.title {
  font-size: xxx-large;
  color: white;
  text-align: center;
}

.jobBtn {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: white;
  border-radius: 1.8rem;
  color: #0476d9;
  padding: 2rem 4rem;
  width: 35%;
  height: 20rem;
  text-align: center;
  border: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.jobBtn:hover {
  color: rgb(104, 194, 230);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.598);
}

.jobType {
  font-family: "Signika", sans-serif;
}

.jobDescription {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

.btnContainer {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  height: 50%;
  width: 100%;
}

.btn-space {
  /* width: 20%; */
  padding-right: 7%;
}

.icon-container {
  /* box-sizing: border-box; */
  width: 50%;
  height: 60%;
  max-height: 4rem;
  min-width: 3rem;
  min-height: 3rem;

  /* border: #0476d9 solid 1px; */
  overflow: hidden;
  margin-bottom: 0.7rem;
}

.icon-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* @media only screen and (min-width: 1024px) {
  .img-size {
    flex-direction: row;
    justify-content: space-evenly;
  }
} */
