@font-face {
  font-family: "Inter";
  src: local("Inter"), url(../../fonts/Inter/Inter-VariableFont_slnt_wght.ttf) format("truetype");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

.upload-btn {
  margin: auto;
  margin-top: 0.8rem;
  width: 10rem;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 2rem;
  border: 0.2rem solid;
  background-color: rgb(62, 163, 84);
  color: white;
  text-align: center;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.upload-btn:hover {
  opacity: 0.8;
}

.box {
  border: 0.2rem dashed rgb(211, 95, 41);
  border-radius: 1rem;
  text-align: center;
  background-color: #efefef;
  margin-top: 1rem;
  padding: 3rem;
}

.box:hover {
  border: 0.2rem dotted rgb(211, 95, 41);
}

.cloud-img {
  padding-bottom: 0.8rem;
}
