.navbar {
  background-color: #0476d9;
}

.justify-content-end {
  background-color: #0476d9;
  width: 100%;
  font-size: larger;
  font-weight: 400;
}

.justify-content-end :hover{
  background-color:#000000;
  text-decoration-color: black;
}

