@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(../fonts/Inter/Inter-VariableFont_slnt,wght.ttf) format('truetype');
    font-weight: 100 1000;
	font-stretch: 25% 151%
  }

.upload-btn {
  margin: auto;
  margin-top: 8px;
  width: 200px;
  font-size: 15px;
  padding: 10px 5px;
  border-radius: 20px;
  border: 1px solid;
  background-color: black;
  color: white;
  text-align: center;
}

.email-btn {
    margin-top: 1rem;
    height: "2rem";
    font-size: "1rem";
    padding: 10px 10px;
  }

.box {
    border: 1px dashed black;
    text-align: center;
    background-color: #efefef;
    margin-top: 1rem;
    padding: 2rem;
}