footer {
  width: 100%;
  background: #045198;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  place-items: center;
  padding: 1rem 0 1rem 0;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

footer a {
  color: inherit;
  color: rgb(227, 225, 221);
  text-decoration: none;
}

footer a:hover {
  color: white;
}
